body{
	background-color: grey;
	width: 100%;
	height: 100%;
	max-width :100%
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden; */
}
.section{
	text-align:center;
}
.lineBreakLarge::after{
		content: '\A';
		white-space: pre;
}
.container-fluid{
	width: 100%;
}
.row85{
	height: 85vh;
}
.row15{
	height: 15vh;
}
.downArrow{
	background-color: transparent;
    border: 0;
    color: white;
    font-size: 3.5em;
}
.navbar {
	margin-bottom:0px;
	padding-bottom:0px;
	background-color:black;
	border:0px;
	/*font-family: 'Droid Sans', sans-serif;*/
	/*font-family: 'Cormorant Garamond', sans-serif;*/
	font-family: 'Nunito Sans', sans-serif;
	position: absolute;
	width: 100%;
}
.navbar h4{
	margin-top: 15px;
	font-size: 21px;
	color:grey;
	font-weight: 500;
	letter-spacing: 15px;
	font-size: 21px;
}
.container-fluid{
	padding-left:0;
	padding-right:0;
	/*padding-bottom:55px;*/
}
.container-fluid span{
	font-weight: 300
}
h1 span{
	font-size:0.7em;
	color: #e6ffff;
}
.home{
	background-image:url(images/Home_photo.jpg);
	background-size:cover;
	background-position: center; 
	/*background-repeat:no-repeat;*/
	height: 100vh;
	text-align: center;
}
img.logo  {
	position:absolute;
	height: 300px;
    width: 400px;
    position: absolute;
    margin-top: 300px;
    margin-left: -13.5%;
    opacity: 0.85
}
.about{
	background-image: url(images/About_Image.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position:50%;
    height: 100vh;
    width: 100vw;
}
.testimonial{
	background-image: url(images/Testimonial_Image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.testimonial-text{
	font-family: 'IM Fell Great Primer', serif;
	font-family: 'Niconne', cursive;
	font-family: 'Caveat', cursive;
	font-family: 'Playfair Display';
	font-style: italic;
	font-size:34px;
	/*font-family: 'IM Fell Great Primer', serif;*/
	color:white;
	z-index:15;
}
.testimonial-text h3{
	font-size:34px;
	/*line-height:60px;*/
}
.testies{
	line-height:60px;
}
.testimonialRow::before{
	content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
}
.testimonialDiv1{
	/*margin-right:44px;*/
	margin-top: 48px;
}
.testimonialDiv2{
	/*margin-left:50px;*/
	margin-top: 35px;
}
.name{
	font-family: 'Nunito Sans', sans-serif;
}
.city{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 19px;
	letter-spacing: 7px;
}
span.nameandcity{
	line-height: 1px !important;
}
.aboutDiv h4{
	letter-spacing: 1.5px
}
.threeWords{
	font-size: 3.5em;
	color: #fb006b;
	/*letter-spacing: 10px;*/
	margin-top:20px;
	font-family: 'Cormorant Garamond', serif;
}
div.container-fluid.contact{
	background-image: url('images/DBD_NewImage_Contact.jpg');
	/*background-color:green;*/
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: brightness(80%);
	height: 100vh;
}
.contact-text .pink, .contact-text2 .pink{
	color:#fb006b;
	font-family: 'Cormorant Garamond', serif;
	font-size:3.4em;
}
.contact-text{
	font-family: 'IM Fell Great Primer', serif;
	font-family: 'Niconne', cursive;
}
.contact-text h1{
	font-size:5.2em;
	color:#e6ffff;
	font-family: 'IM Fell Great Primer', serif;
}
.contact-text2 h1{
	font-size:5.8em;
	color:#e6ffff;
	font-family: 'IM Fell Great Primer', serif;
}
.contact-text2 h3{
	font-size:2.8em;
	color:#e6ffff;
	font-family: 'IM Fell Great Primer', serif;
}
.contact-text2 h3:hover{
	color:#fb006b;
	cursor: pointer;
}

.contact-text hr{
	border:2px solid #fb006b;
	width: 50%;
}
div.row.contact-text{
	margin-top: 20vh;
}
.aboutDiv{
	margin-top: 100px;
}
.about .row.keywords{
	margin-top:100px;
}
.aboutDiv h4{
	/*font-family: 'Cormorant Garamond', serif;*/
	font-family: 'Playfair Display', serif;
	color:white;
	font-size: 3em;
    height: 300px;
    line-height: 193%;
    margin-bottom: 50px;
}
.aboutDiv hr{
	width: 25%;
	border: 1px solid #fb006b;
}
.hotPink{
	color:#fb006b;
}
.footer{
	height: 65vh;
	background-image:url(images/DBD_NewImage_SignOff.jpg);
	background-size:cover;
}
img.footerLogo  {
	position:absolute;
	height: 300px;
	width: 400px;
	margin-top: 250px;
	margin-left: -12.5%;
	opacity: 0.85;
}
.row{
	margin-right:0px;
	margin-left:0px;
}
.scroll {
	position:relative;
	font-size:1.3em;
	margin-top:10px;
	display:inline-block;
	height:100px;
}
.home .scroll{
	margin-top:-30px;
}
.about .scroll{
	left:-23px;
	top:166px;
}
.contact .scroll{
	top:190px;
}
.testimonial .scroll{
	top:80px;
}
.scroll:hover {
	text-decoration:none;
}

.scroll:after {
	content:'';
	width:40px;
	height:40px;
	position:absolute;
	margin:auto;
	top:0px;
	right:0;
	left: -15px;
	 -webkit-animation:3s arrow infinite ease; 
	animation: 3s arrow infinite ease;
}

.scroll:after {
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
@keyframes arrow {
	0%,100% {
		top:10px;
	}
	50% {
		top:30px;
	}
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /* Small screen, retina, stuff to override above media query */
	.contact-text2 h3{
		margin-left: -153px;
	}	
	img.logo  {
		height: 550px;
	    width: 700px;
	    margin-top: 500px;
	    margin-left: -36.5%;
	}
	.aboutDiv{
		margin-top:367px;

	}
	.aboutDiv h4{
		height:16vh;
		font-size: 4.2em;
		/*margin-bottom: 636px;*/
		margin-bottom: 757px
	}
	.aboutDiv hr{
		border: 2px solid #fb006b;
		width: 60%;
	}
	.about .row.keywords {
	    margin-top: 434px;
	}
	.threeWords {
	    font-size: 3.4em;
	}
	.native{
	    margin-right: -47px;
	}
	.collaborative{
	    margin-right: 47px;
	}
	.testimonial{
		height: 100vh;
	}
	div.container-fluid.contact{
		height: 70vh;
	}
	.footer{
		height: 30vh;
	}
	img.footerLogo{
		margin-left: -30%;
		margin-top: 70%;
		height: 400px;
		width: 600px;
	}
	.navbar h4{
		font-size: 29px;
	}
	.lineBreak::after{
		content: '\A';
		white-space: pre;
	}
	.testimonialDiv1{
		/*margin-right:44px;*/
		margin-top: 22%;
	}
	.testimonialDiv2{
		/*margin-left:50px;*/
		margin-top: 8%;
	}
	.testimonial-text h3 {
	    font-size: 50px;
	}
	.testies {
	    line-height: 80px;
	}
	.contact .scroll{
		margin-top: 450px;
	}
	.contact-text .pink, .contact-text2 .pink{
		font-size:5.4em;
		margin-top: 100px;
	}
	h3.email{
		font-size:5.4em;
		margin-left: -29vw;
	}
}
/* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
				img.footerLogo{
					height: 400px;
					width: 600px;
					margin-top: 16%;
					margin-left: -10.5%;
				}
				.contact .scroll{
					margin-top:4%;
				}
				.contact-text2 .emailRow{
					margin-top:8%;
				}
				.testimonialRow .testimonialDiv1, .testimonialRow .testimonialDiv2{
					margin-top:9%;
				}
				.testimonial .scroll{
					margin-top:5%;
				}
				.aboutDiv{
					margin-top:17%;
				}
				img.logo{
					height: 500px;
			    width: 700px;
			    margin-top: 16%;
			    margin-left: -14%;
			    opacity: 0.85;
				}
}



.mbr-arrow-floating{
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@-webkit-keyframes arrow {
	0%,100% {
		top:10px;
	}
	50% {
		top:30px;
	}
}

.testimonial{
	height: 100vh !important;
}