body{
	background-color: grey;
	width: 100%;
	height: 100%;
	max-width :100%
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden; */
}
.container-fluid{
	width: 100%;
}

.navbar {
	margin-bottom:0px;
	padding-bottom:0px;
	background-color:black;
	border:0px;
	/*font-family: 'Droid Sans', sans-serif;*/
	font-family: 'Cormorant Garamond', serif;
}
.navbar h4{
	font-size: 32px;
	/*color:#F0FFFF;*/
	color:white;
	font-weight: 500;
	letter-spacing: 20px;

}
.container-fluid{
	padding-left:0;
	padding-right:0;
	/*padding-bottom:55px;*/
}
.container-fluid span{
	font-weight: 300
}
h1 span{
	font-size:0.7em;
	color: #e6ffff;
}
/*.home img .logo{
	height: 200px;
	width: 200px;
} */
.aboutRow, .contactRow, img{
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}
.aboutRow{
	background-image: url(images/About_Image.jpg);
	/*background-size: 100%*/
	background-size: 100%
	/*max-width :100%*/
}
.testimonialRow{
	background-image: url(images/Testimonial_Image.jpg);
	background-size: 100%;
	/*width: 100vw;*/
	background-repeat: no-repeat;
	/*-webkit-filter: grayscale; */
/*-webkit-filter: brightness(50%); */
	/*height: 685px;*/
	height: 55vh;
}
.testimonial-text{
	font-family: 'IM Fell Great Primer', serif;
	font-family: 'Niconne', cursive;
	font-family: 'Caveat', cursive;
	font-size:34px;
	/*font-family: 'IM Fell Great Primer', serif;*/
	color:white;
	z-index:15;
	margin-top:9%;
}
.testimonial-text h3{
	font-size:34px;
}
.testimonialRow::before{
	content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.contactRow{
	background-image: url(images/Contact_Image.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-filter: brightness(80%);
}
.aboutRow h4{
	/*font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Crimson Text', serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Amiri', serif;
	font-family: 'IM Fell Great Primer', serif;
	font-size:3em;
	color:white;
	line-height: 2;
}
.aboutRow .row{
	height:0px;
	margin-top:18vh
}

.threeWords{
	font-size: 3.5em;
	color: #fb006b;
	/*letter-spacing: 10px;*/
	margin-top:3%;
	font-family: 'Cormorant Garamond', serif;
}
.contact-text{
	font-family: 'IM Fell Great Primer', serif;
	font-family: 'Niconne', cursive;
	
	margin-top:-80vh
}
.contact-text h1{
	font-size:5.2em;
	color:#e6ffff;
	font-family: 'IM Fell Great Primer', serif;
}
.contact-text2 h1{
	font-size:6.2em;
	color:#e6ffff;
	font-family: 'IM Fell Great Primer', serif;
}
.contact-text2 h3{
	font-size:4em;
	color:#e6ffff;
	font-family: 'IM Fell Great Primer', serif;
}
.contact-text hr{
	border:2px solid #fb006b;
	width: 50%;
}
div.row.tRow{
	/*height:0px;*/
	margin-top:18vh !important
}
.aboutDiv{
	position:relative;
	z-index: 2 !important;
	/*border: 1px solid yellow;*/
	margin-top: 10%;
	margin-left: 19%;
}
.aboutDiv h4{
		font-family: 'Cormorant Garamond', serif;
}
.hotPink{
	color:#fb006b;
}
.aboutRow hr{
	border:1px solid #fb006b;
	width: 35%;

}
img.logo  {
	position:absolute;
	/*display:block;*/
	/*z-index:15;*/
	height: 300px;
    width: 400px;
    position: absolute;
    margin-top: -41%;
    margin-left: 37%;
    opacity: 0.7
}
img.footerLogo  {
	position:absolute;
	/*display:block;*/
	/*z-index:15;*/
	height: 200px;
    width: 300px;
    position: absolute;
    margin-top: -25%;
    margin-left: 40%;
    opacity: 0.7
}
.row{
	margin-right:0px;
	margin-left:0px;
}

